@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap');

body {
  min-width: 480px;
  margin: 0;
  padding: 0;
  
  font-family: "Merriweather", "Time New Roman", serif;
  color: rgba(0,0,0,0.93);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  
  line-height: 24px;
  
  background: #ededed url("../img/body-bg.jpg") no-repeat center top;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  width: auto;
  margin: 0 auto;
  
  background-color: #faecc7;
}

.site-header__wrapper {
  position: relative;
  width: 444px;
  min-height: 70px;
  margin: 0 auto;
  padding-bottom: 30px;
  
  background-color: #faecc7;
}

@media (min-width: 1200px) {
  .site-header {
    /* padding-bottom: 20px; */
  }
  
  .site-header__wrapper {
    display: flex;
    
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    
    justify-content: space-between;
  }
}

.site-header__logo {
  display: block;
  padding-top: 31px;
  width: 176px;
  height: 39px;
}

@media (min-width: 1200px) {
  .site-header__logo {
    margin-left: -5px;
    padding-top: 32px;
    width: 230px;
    height: 48px;
  }
  
  .site-header__logo-image {
    width: 230px;
    height: 48px;
  }
}

.main-nav__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  
  z-index: 100;
}

.main-nav__toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 35px;
  right: -5px;
  
  cursor: pointer;
  
  border: none;
  background-color: #faecc7;
  /* background-color: rgba(0,255,0,0.5); */
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  top: 18px;
  right: 5px;
  
  background-color: #9b0c23;
  box-shadow: 0 -10px 0 0 #9b0c23, 0 10px 0 0 #9b0c23;
  /* transition-property: box-shadow; */
  /* transition-duration: 0.5s; */
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 5px;
  width: 30px;
  height: 3px;
  
  background-color: #9b0c23;
  transform: rotate(45deg);
  /* transition-property: transform; */
  /* transition-duration: 0.5s; */
}

.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 5px;
  width: 30px;
  height: 3px;
  
  background-color: #9b0c23;
  transform: rotate(135deg);
  /* transition-property: box-shadow; */
  /* transition-duration: 0.5s; */
}

@media (min-width: 1200px) {
  .main-nav {
    display: flex;
    padding-bottom: 10px;
  }
  
  .main-nav__toggle {
    display: none;
  }
  
  .main-nav__wrapper {
    position: static;
    display: flex;
  }
}

.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.main-nav--closed .main-nav__list {
  display: none;
}

@media (min-width: 1200px) {
  .main-nav--closed .main-nav__list {
    display: flex;
  }
}

.nav-list {
  padding-top: 30px;
}

@media (min-width: 1200px) {
  .nav-list {
    display: flex;
    margin-right: 30px;
    padding-top: 50px;
  }
}

.nav-list__item {
  position: relative;
  margin: 0;
  padding: 0;
  
  background-color: #faecc7;
}

.nav-list__item .nav-list__link,
.nav-list__item span {
  display: block;
  width: auto;
  margin-left: 38px;
  margin-right: 78px;
  padding-top: 8px;
  padding-bottom: 8px;
  
  font-size: 15px;
  line-height: 24px;
  color: #786d59;
  text-decoration: none;
}

.nav-list__item--active .nav-list__link,
.nav-list__item--active span {
  position: relative;
  color: #9b0c23;
}

.nav-list__item--active span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  
  width: 44px;
  height: 2px;
  
  background-color: #9b0c23;
}

@media (min-width: 1200px) {
  .nav-list__item {
    position: relative;
    margin: 0;
    margin-right: 10px;
    width: auto;
  }
  
  .nav-list__item:last-child {
    margin-right: 0;
  }
  
  .nav-list__item .nav-list__link,
  .nav-list__item span {
    margin: 0;
    padding: 6px 10px;
    padding-bottom: 10px;
  }
  
  .nav-list__item .nav-list__link:hover {
    background-color: #e3d4aa;
  }
  
  .nav-list__item--active span::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 5px;
    
    background-color: #9b0c23;
  }
}

.nav-sublist21__toggle,
.nav-sublist22__toggle {
  position: absolute;
  top: 0;
  right: 38px;
  
  width: 40px;
  height: 40px;
  
  border: none;
  background-color: transparent;
  
  cursor: pointer;
}

.nav-sublist21__toggle:active,
.nav-sublist22__toggle:active {
  background-color: #e3d4aa;
  /* transition-property: background-color; */
  /* transition-duration: 0.5s; */
}

.nav-sublist21__toggle::before,
.nav-sublist22__toggle::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border-bottom: 3px solid #9b0c23;
  border-left: 3px solid #9b0c23;
}

.nav-sublist21--closed .nav-sublist21__toggle::before,
.nav-sublist22--closed .nav-sublist22__toggle::before {
  top: 6px;
  right: 12px;
  transform: rotate(-45deg);
  /* transition-property: transform, top; */
  /* transition-duration: 0.5s; */
}

.nav-sublist21--opened .nav-sublist21__toggle::before,
.nav-sublist22--opened .nav-sublist22__toggle::before {
  top: 14px;
  right: 12px;
  transform: rotate(135deg);
  /* transition-property: transform, top; */
  /* transition-duration: 0.5s; */
}

@media(min-width: 1200px) {
  .nav-sublist21__toggle,
  .nav-sublist22__toggle {
    display: none;
  }
}

.nav-sublist2 {
  list-style: none;
  margin: 0;
  margin: 0 38px;
  /* margin-right: 78px; */
  padding: 0;
  /* padding-left: 58px; */
}

.nav-sublist21--closed .nav-sublist2,
.nav-sublist22--closed .nav-sublist2 {
  display: none;
}

.nav-sublist21--opened .nav-sublist2,
.nav-sublist22--opened .nav-sublist2 {
  display: block;
}

.nav-sublist2__item {
  background-color: rgba(0,255,0,1.0);
}

.nav-sublist2__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  
  font-size: 15px;
  line-height: 24px;
  color: #786d59;
  text-decoration: none;
  
  /* background-color: #faecc7; */
  background-color: #e3d4aa;
}

@media (min-width: 1200px) {
  .nav-sublist2 {
    position: absolute;
    margin: 0;
    padding-left: 0;
    width: auto;
    min-width: 100%;
    
    display: none;
    box-shadow: 0 1px 5px -3px #786d59 ;
  }
  
  .nav-list__item .nav-sublist21__toggle,
  .nav-list__item .nav-sublist22__toggle {
    display: none;
  }
  
  .nav-list__item:hover .nav-sublist2 {
    display: block;
  }
  
  .nav-sublist2__item {
    position: relative;
    width: auto;
  }
  
  .nav-sublist2__link {
    margin: 0;
    padding: 6px 10px;
    padding-bottom: 10px;
    width: auto;
    
    white-space: nowrap;
    
    /* background-color: #e9dcb9; */
    background-color: #faecc7;
  }
  
  .nav-sublist2__link:hover {
    background-color: #e3d4aa;
  }
}

.nav-sublist3 {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.nav-sublist3__item {
  background-color: rgba(255,0,0,0.5);
}

.nav-sublist3__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  
  font-size: 15px;
  line-height: 24px;
  color: #786d59;
  text-decoration: none;
  
  background-color: #faecc7;
}

@media (min-width: 1200px) {
  .nav-sublist3 {
    position: absolute;
    top: 0;
    left: 100%; 
    padding-left: 0;
    width: auto;
    min-width: 100%;
    
    display: none;
    z-index: 1;
    
    box-shadow: 1px 0px 5px -3px #786d59;
  }
  
  .nav-sublist2__item:hover .nav-sublist3 {
    display: block;
  }
  
  .nav-sublist3__item {
    width: auto;
  }
  
  .nav-sublist3__link {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    width: auto;
    
    white-space: nowrap;
    
    /* background-color: #e9dcb9; */
    background-color: #faecc7;
  }
  
  .nav-sublist3__item .nav-sublist3__link:hover {
    background-color: #e3d4aa;
  }
}

.lang-list {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #faecc7;
}

.lang-list__item {
  padding-top: 10px;
  padding-bottom: 12px;

  background-color: #faecc7;
}

@media (min-width: 1200px) {
  .lang-list  {
    display: flex;
    width: 72px;
    padding-top: 55px;
    padding-bottom: 0;
    
    justify-content: space-between;
  }
  
  .lang-list__item {
    padding-top: 6px;
    padding-bottom: 20px;

    background-color: #faecc7;
  }
}

.lang-list__item a {
  display: block;
  margin: 0 38px;
  width: 28px;
  height: 18px;
}

.lang-list__link--ua {
  background: url("../img/ukraine.svg") center no-repeat;
  background-size: cover;
}

.lang-list__link--en {
  background: url("../img/united-kingdom.svg") center no-repeat;
  background-size: cover;
}

@media (min-width: 1200px) {
  .lang-list__item {
    margin: 0;
    padding: 0;
  }
  
  .lang-list__item a {
    margin: 0;
    margin-top: 3px;
  }
  
  .lang-list__item:first-child {
    margin-right: 16px;
  }
}

.page-main {
  padding-bottom: 50px;
  
  background-color: #f7f7f7;
}

.page-main__header {
  margin: 0 auto;
  width: 100%;
  height: 310px;
}

.start-page .page-main__header {
  background: url("../img/background-chinese-studies.jpg") center no-repeat;
  background-size: cover;
  background-position: right;
  background-color: #faecc7;
}

.inner-page .page-main__header {
  background-color: #faecc7;
}

.page-main__title,
.page-main__intro {
  /* display: block; */
  width: 444px;
  margin: 0 auto;
  text-align: center;
}

.page-main__title {
  padding-top: 10px;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
}

.start-page .page-main__title {
  font-size: 30px;
  line-height: 52px;
}

.inner-page .page-main__title {
  font-size: 24px;
  line-height: 36px;
}

.page-main__title span {
  line-height: 24px;
  font-weight: 300;
  text-transform: none;
}

.page-main__intro {
  color: #786d59;
}

.page-main__intro span {
  color: #111111;
}

.start-page .page-main__intro {
  margin-top: 15px;
  margin-bottom: 25px;
}

.inner-page .page-main__intro {
  margin-top: 20px;
  font-size: 12px;
  line-height: 24px;
}

.inner-page .page-main__intro a {
  text-decoration: none;
  color: #786d59;
}

.page-main__header .message {
  display: none;
  
  justify-content: center; 
}

.page-main__header .message__mark {
  padding: 0;
  
  margin: 0 8px;
  width: 18px;
  height: 5px;
  border-radius: 2.5px;
  
  background-color: #9b0c23;
}

@media (min-width: 1200px) {
  .page-main__header {
    height: 440px;
  }
  
  .page-main__title,
  .page-main__intro {
    width: 1170px;
  }
  
  .start-page .page-main__title {
    font-size: 48px;
    line-height: 72px;
  }
  
  .inner-page .page-main__title {
    padding-top: 55px;
  }
  
  .page-main__title br {
    display: none;
  }
  
  .page-main__intro br {
    display: none;
  }
}

.page-main__wrapper {
  width: 444px;
  margin: 0 auto;
  
  box-shadow: 0 3px 32px 9px rgba(0,0,0,0.15);
}

.start-page .page-main__wrapper {
  margin-top: -60px;
}

.inner-page .page-main__wrapper {
  margin-top: -147px;
}

.page-content {
  padding-top: 20px;
  background-color: #ffffff;
}

.article .page-content {
  padding-top: 0;
}

@media (min-width: 1200px) {
  .page-main__wrapper {
    width: 1260px;
  }
  
  .start-page .page-main__wrapper {
    margin-top: -90px;
  }
  
  .inner-page .page-main__wrapper {
    margin-top: -232px;
  }
  
  .page-content {
    padding: 0 30px;
    
    display: flex;
  }
  
  .article .page-content {
    display: block;
  }
}

.content__section {
  margin-left: 38px;
  margin-right: 38px;
  padding-bottom: 30px;
}

.content__header  {
  display: block;
  margin: 0;
  /* margin-top: 20px; */
  padding: 0;
  padding-top: 30px;
  border: none; 
}

.headings .content__header {
  display: flex;
  justify-content: space-between;
  
  margin: 0 -18px;
  margin-top: 0px;
  padding: 18px 18px;
  padding-bottom: 22px;
  border: 2px solid #e5e4e4;
}

.content__title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 16px;
  
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.headings .content__title {
  /* margin-bottom: 20px; */
  padding-bottom: 0;
  margin-bottom: 0;
}

.content__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 44px;
  height: 2px;
  
  background-color: #9b0c23;
}

.headings .content__title::before {
  display: none;
}

@media (min-width: 1200px) {
  .content__section {
    padding-top: 50px;
    margin-right: 30px;
  }
  
  .content__section {
    margin-left: 0;
    padding-top: 50px; 
    border-top: none;
  }
  
  .content__section:first-child {
    margin-left: 15px;
  }
  
  .content__section:last-child {
    margin-right: 15px;
  }
  
  .content__header,
  .headings .content__header  {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .headings .content__title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 16px;
  }
  
  .headings .content__title::before {
    display: block;
  }
  
  .content__title {
    margin-bottom: 30px;
  }
}

.list__toggle {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  
  border: none;
  background-color: transparent;
  
  cursor: pointer;
}

.list__toggle::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  right: 5px;
  top: 8px;
  width: 18px;
  height: 18px;
  
  border-top: 3px solid #9b0c23;
  border-right: 3px solid #9b0c23;
  
  transform: rotate(-45deg);
}

.list__toggle:hover::before {
  top: 0px;
  transform: rotate(135deg);
  /* transition-property: transform, top; */
  transition-duration: 0.5s;
}

@media (min-width: 1200px) {
  .headings {
    width: 370px;
    margin-right: 30px;
  }
  
  .list__toggle {
    display: none;
  }
}

.headings__list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.headings__item {
  position: relative;
  margin-top: 24px; 
  padding-left: 14px;
}

.headings__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  /* top: 34px; */
  width: 5px;
  height: 5px;
  border-radius: 50%;
  
  background-color: #9b0c23;
}

.headings__item:first-child {
  font-weight: bold;
}

.headings__item a {
  text-decoration: none;
  color: #111111;
}

.headings__item:first-child a {
  color: #9b0c23;
}

@media (min-width: 1200px) {
  .headings__list {
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .headings__list::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 1px;
    height: 100%;
    
    background-color: #e5e4e4;
  }
  
  .headings__item {
    margin-top: 12px; 
    padding-right: 20px;
    
    font-size: 14px;
    line-height: 18px;
  }
}

.description,
.curent-issue {
  border-top: 1px solid #e5e4e4;
}

.description__content {
  position: relative;
  padding-top: 216px;
}

.description__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 368px;
  height: 216px;
  background: url("../img/chinese-lanterns.jpg") right no-repeat;
  background-size: cover;
  overflow: hibben;
  
  background-color: rgba(255,0,0,0.5);
}

@media (min-width: 1200px) {
  /* .article, */
  .description,
  .curent-issue {
    /* margin-left: 0; */
    /* padding-top: 50px;  */
    border-top: none;
  }
  
  .description {
    width: 470px;
    margin-right: 30px;
  }
  
  .description__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 470px;
    height: 216px;
  }
  
  .curent-issue {
    width: 270px;
  }
}

.description__picture {
  display: block;
  width: 368px;
  height: 216px;
  overflow: hibben;
}

.description__image {
  height: 216px;
  width: auto;
  object-fit: cover;
}

.content__link {
  display: inline-block;
  padding: 7px 28px;
  border: 1px solid #9b0c23;
  border-radius: 20px;
  
  text-decoration: none;
  
  font-size: 16px;
  color: #9b0c23;
}

.description__text {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 20px;
  
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

.description__text--light {
  font-weight: 300;
}

.curent-issue__cover {
  margin: 0;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 24px;
  width: 270px;
  height: 357px;
  
  border: 1px solid #e5e4e4;
}

@media (min-width: 1200px) {
  .description__picture {
    width: 470px;
    height: 216px;
  }
  
  .description__text {
    margin-top: 20px;
    margin-bottom: 20px;
    
    font-size: 14px;
  }
  
  .curent-issue__cover {
    margin-bottom: 49px;
  }
}

.content__field {
  margin: 25px 0;
}

.content__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #111111;
}

.content__item {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #9b0c23;
}

.content__item a {
  text-decoration: none;
  color: #9b0c23;
}

@media (min-width: 1200px) {
  .content__field {
    margin-top: -10px;
  }
  
  .content__label {
    font-size: 12px;
  }

  .content__item {
    font-size: 12px;
  }
}

.defenition__list {}

.page-footer {
  margin: 0 auto;
  width: 444px;
  
  background-color: #d6c492;
}

.page-footer__list {
  margin: 0 38px;
  list-style: none;
  padding: 14px 0 11px 0;
  
  display: flex;
  justify-content: space-between;
}

.issn-list__item--online,
.issn-list__item--print {
  font-size: 14px;
  line-height: 24px;
  
  color: #9b0c23;
}

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    padding: 0 30px;
  }
  
  .page-footer__list {
    justify-content: center;
  }
  
  .issn-list__item--online,
  .issn-list__item--print {
    font-size: 16px;
    padding: 0 15px;
  }
}

.site-footer {
  width: auto;
  margin: 0;
  
  min-height: 50px;
  background-color: #ffffff;
}

.site-footer__wrapper {
  width: 444px;
  margin: 0 auto;
}

.site-footer__copyright,
.site-footer__license {
  margin: 0;
  padding: 13px 0;
  
  text-align: center;
  
  font-size: 11px;
  line-height: 24px;
  color: #786d59;
}

.site-footer__license {
  padding-bottom: 0;
}

.site-footer__license a {
  text-decoration: none;
  color: #9b0c23;
}
