@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap');

body {
  min-width: 480px;
  margin: 0;
  padding: 0;
  
  font-family: "Merriweather", "Time New Roman", serif;
  color: rgba(0,0,0,0.93);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  
  line-height: 24px;
  
  background: #ededed url("../img/body-bg.jpg") no-repeat center top;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  width: auto;
  margin: 0 auto;
  padding-bottom: 30px;
  
  background-color: #faecc7;
}

.site-header__wrapper {
  position: relative;
  width: 444px;
  margin: 0 auto;
  
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .site-header {
    padding-bottom: 60px;
  }
  
  .site-header__wrapper {
    display: flex;
    
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.site-header__logo {
  display: inline-block;
  margin-top: 30px;
  height: 39px;
}

@media (min-width: 1200px) {
  .site-header__logo {
    margin-left: -5px;
    width: 230px;
    height: 48px;
  }
  
  .site-header__logo-image {
    width: 230px;
    height: 48px;
  }
}

.main-nav__toggle {
  position: absolute;
  
  top: 0;
  right: 0;
  
  display: block;
  margin-top: 44px;
  
  width: 30px;
  height: 23px;
  
  border: none;
  background-color: #faecc7;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #9b0c23;
  box-shadow: 0 10px 0 0 #9b0c23, 0 20px 0 0 #9b0c23;
}

@media (min-width: 1200px) {
  .main-nav {
    display: flex;
  }
  
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
}

@media (max-width: 1200px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.nav-list,
.lang-list {
  padding: 0;
  padding-top: 25px;
  
  list-style: none;
}

.nav-list__item,
.lang-list__item {
  height: 24px;
}

.nav-list a {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  
  font-size: 15px;
  line-height: 24px;
  color: #786d59;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .nav-list,
  .lang-list  {
    display: flex;
    
    padding-top: 50px;
  }
  
  .nav-list {
    margin-right: 30px;
  }
  
  .lang-list {
    width: 72px;
    
    justify-content: space-between;
  }
  
  .nav-list__item--active a {
    position: relative;
    color: #9b0c23;
  }
  
  .nav-list__item--active a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    
    width: 44px;
    height: 2px;
    
    background-color: #9b0c23;
  }
}

.nav-sublist,
.nav-second__list {
  display: none;
}

.lang-list__item a {
  display: block;
  width: 28px;
  height: 18px;
  margin-top: 3px;
  
  background-color: #555555;
}


.lang-list__item .lang--ua {
  background: url("../img/ukraine.svg") center no-repeat;
  background-size: cover;
}

.lang-list__item .lang--en {
  background: url("../img/united-kingdom.svg") center no-repeat;
  background-size: cover;
}

.page-main {
  padding-bottom: 50px;
  
  background-color: #f7f7f7;
  /* background-color: gradient; */
}

.page-header {
  background-color: #faecc7;
  padding-bottom: 110px;
}

.page-title,
.page-intro {
  /* display: block; */
  width: 444px;
  margin: 0 auto;
  text-align: center;
}

.page-title {
  font-size: 30px;
  line-height: 52px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-title span {
  line-height: 24px;
  font-weight: 300;
  text-transform: none;
}

.page-intro {
  margin-top: 15px;
  margin-bottom: 25px;
  
  color: #786d59;
}

.page-header .message {
  display: flex;
  
  justify-content: center; 
}

.page-header .message__mark {
  padding: 0;
  
  margin: 0 8px;
  width: 18px;
  height: 5px;
  border-radius: 2.5px;
  
  background-color: #9b0c23;
}

@media (min-width: 1200px) {
.page-header {
    padding-bottom: 170px;
  }

  .page-title,
  .page-intro {
    width: 1170px;
  }

  .page-title {
    font-size: 48px;
    line-height: 72px;
  }
  
  .page-title br {
    display: inline;
  }
  
  .page-header span {
    font-size: 36px;
    line-height: 36px;
  }

  .page-intro {
    margin-top: 10px;
    margin-bottom: 40px;
    
    color: #786d59;
  }
  
  .page-intro br {
    display: none;
  }
}

.page-main__wrapper {
  width: 444px;
  margin: 0 auto;
  
  box-shadow: 0 3px 32px 9px rgba(0,0,0,0.15);
}

.page-content {
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .page-main__wrapper {
    width: 1260px;
    margin-top: -90px;
  }
  
  .page-content {
    padding: 0 30px;
    
    display: flex;
  }
}

.section-content {
  padding-top: 20px;
  padding-bottom: 30px;
}

.section-content:first-child {
  margin-top: -60px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  
  margin: 0 20px;
  margin-top: 0px;
  padding: 22px 18px;
  padding-bottom: 21px;
  border: 2px solid #e5e4e4;
}

.section-title {
  margin: 0;

  font-weight: normal;
  line-height: 24px;
  font-size: 20px;
}

.present-content .section-title,
.present-cover .section-title  {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.present-content .section-title::before,
.present-cover .section-title::before  {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 44px;
  height: 2px;
  
  background-color: #9b0c23;
}

@media (min-width: 1200px) {
  .section-content {
    padding-top: 50px;
    margin-right: 30px;
  }
  
  .section-content:first-child {
    margin-top: 0px;
    margin-left: 15px;
  }
  
  .section-content:last-child {
    margin-right: 15px;
  }
  
  .section-header {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .present-headings .section-title {
    position: relative;
    padding-bottom: 16px;
  }

  .present-headings .section-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 44px;
    height: 2px;
    
    background-color: #9b0c23;
  }
  
  .present-headings .section-title,
  .present-content .section-title,  
  .present-cover .section-title {
    margin-bottom: 30px;
  }
}

.headings-list__toggle {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  
  border: none;
  background-color: transparent;
  
  cursor: pointer;
}

.headings-list__toggle::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  right: 5px;
  top: 8px;
  width: 18px;
  height: 18px;
  
  border-top: 3px solid #9b0c23;
  border-right: 3px solid #9b0c23;
  
  transform: rotate(-45deg);
}

.headings-list__toggle:hover::before {
  top: 0px;
  transform: rotate(135deg);
  /* transition-property: transform, top; */
  transition-duration: 0.5s;
}

@media (min-width: 1200px) {
  .present-headings {
    width: 370px;
    margin-right: 30px;
  }
  
  .headings-list__toggle {
    display: none;
  }
}

.headings-list {
  margin: 0 20px;
  padding: 0 18px;
  
  list-style: none;
}

.headings-list__item {
  position: relative;
  
  /* padding-top: 24px; */
  margin-top: 24px; 
  padding-left: 14px;
}

.headings-list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  
  background-color: #9b0c23;
}

.headings-list__item:first-child {
  font-weight: bold;
}

.headings-list__item a {
  text-decoration: none;
  color: #111111;
}

.headings-list__item:first-child a {
  color: #9b0c23;
}

@media (min-width: 1200px) {
  .headings-list {
    margin: 0;
    padding: 0;
  }
  
  .headings-list__item {
    margin-top: 12px; 
    padding-right: 20px;
    
    font-size: 14px;
    line-height: 18px;
  }
}

.present-content,
.present-cover {
  margin-left: 38px;
  margin-right: 38px;
  padding-top: 24px; 
  border-top: 1px solid #e5e4e4;
}

@media (min-width: 1200px) {
  .present-content,
  .present-cover {
    margin-left: 0;
    padding-top: 50px; 
    border-top: none;
  }
}

@media (min-width: 1200px) {
  .present-content {
    width: 470px;
    margin-right: 30px;
  }
  
  .present-cover {
    width: 270px;
  }
}

.present__picture {
  display: block;
  width: 368px;
  height: 216px;
  overflow: hibben;
}

.present__image {
  height: 216px;
  width: auto;
  object-fit: cover;
}

.present__link {
  display: inline-block;
  padding: 7px 28px;
  border: 1px solid #9b0c23;
  border-radius: 20px;
  
  text-decoration: none;
  
  font-size: 16px;
  color: #9b0c23;
}

.present__text {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 20px;
  
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

.present__text--light {
  font-weight: 300;
}

.present__cover {
  margin: 0;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 24px;
  width: 270px;
  height: 357px;
  
  border: 1px solid #e5e4e4;
}

@media (min-width: 1200px) {
  .present__picture {
    width: 470px;
    height: 216px;
  }
  
  .present__text {
    margin-top: 20px;
    margin-bottom: 20px;
    
    font-size: 14px;
  }
  
  .present__cover {
    margin-bottom: 49px;
  }
}

.page-footer {
  margin: 0 auto;
  width: 444px;
  
  background-color: #d6c492;
}

.page-footer__list {
  margin: 0 38px;
  list-style: none;
  padding: 14px 0 11px 0;
  
  display: flex;
  justify-content: space-between;
}

.issn-list__item--online,
.issn-list__item--print {
  font-size: 14px;
  line-height: 24px;
  
  color: #9b0c23;
}

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    padding: 0 30px;
  }
  
  .page-footer__list {
    justify-content: center;
  }
  
  .issn-list__item--online,
  .issn-list__item--print {
    font-size: 16px;
    padding: 0 15px;
  }
}

.site-footer {
  width: auto;
  margin: 0;
  
  min-height: 50px;
  background-color: #ffffff;
}

.site-footer__wrapper {
  width: 444px;
  margin: 0 auto;
}

.site-footer__copyright {
  margin: 0;
  padding: 13px 0;
  
  text-align: center;
  
  font-size: 11px;
  line-height: 24px;
  color: #786d59;
}
